
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="" name="description" />
  <meta content="" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- App favicon -->
  <link rel="shortcut icon" href="../assets/images/favicon.ico">

  <!-- App css -->
  <link href="../assets/css/config/default/bootstrap.min.css" rel="stylesheet" type="text/css" id="bs-default-stylesheet" />
  <link href="../assets/css/config/default/app.min.css" rel="stylesheet" type="text/css" id="app-default-stylesheet" />

  <link href="../assets/css/config/default/bootstrap-dark.min.css" rel="stylesheet" type="text/css" id="bs-dark-stylesheet" />
  <link href="../assets/css/config/default/app-dark.min.css" rel="stylesheet" type="text/css" id="app-dark-stylesheet" />

  <!-- icons -->
  <link href="../assets/css/icons.min.css" rel="stylesheet" type="text/css" />

</head>

<!-- body start -->
<body class="loading" data-layout='{"mode": "light", "width": "fluid", "menuPosition": "fixed", "sidebar": { "color": "light", "size": "default", "showuser": false}, "topbar": {"color": "light"}, "showRightSidebarOnPageLoad": true}'>

<!-- Begin page -->
<div id="wrapper">

  <!-- Topbar Start -->
  {{template "drive_header.html"}}
  <!-- end Topbar -->


  <!-- ============================================================== -->
  <!-- Start Page Content here -->
  <!-- ============================================================== -->

  <div class="content-page" style="margin-left: 0;">
    <div class="content">

      <!-- Start Content-->
      <div class="container-fluid">

        <div class="row mt-1">

          <!-- Drive Content -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <!-- Left sidebar -->
                {{template "drive_sidebar.html"}}
                <!-- End Left sidebar -->

                <div class="inbox-rightbar">
                  <div class="d-md-flex justify-content-between align-items-center">
                    <form class="search-bar">
                      <div class="position-relative">
                        <input type="text" class="form-control form-control-light" placeholder="Search files...">
                        <span class="mdi mdi-magnify"></span>
                      </div>
                    </form>
                    <div class="mt-2 mt-md-0">
                      <button type="submit" class="btn btn-sm btn-white"><i class="mdi mdi-format-list-bulleted"></i></button>
                      <button type="submit" class="btn btn-sm btn-white"><i class="mdi mdi-view-grid"></i></button>
                      <button type="submit" class="btn btn-sm btn-white"><i class="mdi mdi-information-outline"></i></button>
                    </div>
                  </div>

                  <div class="mt-3">
                    <h5 class="mb-2">Quick Access</h5>

                    <div class="row mx-n1 g-0">
                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-light text-secondary rounded">
                                                                                <i class="mdi mdi-folder-zip font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">Ubold-sketch-design.zip</a>
                                <p class="mb-0 font-13">2.3 MB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->

                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-light text-secondary rounded">
                                                                                <i class="mdi mdi-folder font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">Compile Version</a>
                                <p class="mb-0 font-13">87.2 MB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->

                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-soft-primary text-primary rounded">
                                                                                <i class="mdi mdi-folder-zip font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">admin-dashboard.zip</a>
                                <p class="mb-0 font-13">45.1 MB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->

                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-light text-secondary rounded">
                                                                                <i class="mdi mdi-file-pdf-outline font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">Documentation.pdf</a>
                                <p class="mb-0 font-13">7.5 MB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->

                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-light text-secondary rounded">
                                                                                <i class="mdi mdi-file-pdf-outline font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">License-details.pdf</a>
                                <p class="mb-0 font-13">784 KB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->

                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-light text-secondary rounded">
                                                                                <i class="mdi mdi-folder-account font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">Purchase Verification</a>
                                <p class="mb-0 font-13">2.2 MB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->

                      <div class="col-xl-3 col-lg-6">
                        <div class="card m-1 shadow-none border">
                          <div class="p-2">
                            <div class="row align-items-center">
                              <div class="col-auto pe-0">
                                <div class="avatar-sm">
                                                                            <span class="avatar-title bg-light text-secondary rounded">
                                                                                <i class="mdi mdi-folder-account font-18"></i>
                                                                            </span>
                                </div>
                              </div>
                              <div class="col">
                                <a href="javascript:void(0);" class="text-muted fw-bold">Ubold Integrations</a>
                                <p class="mb-0 font-13">874 MB</p>
                              </div>
                            </div> <!-- end row -->
                          </div> <!-- end .p-2-->
                        </div> <!-- end col -->
                      </div> <!-- end col-->
                    </div> <!-- end row-->
                  </div> <!-- end .mt-3-->


                  <div class="mt-3">
                    <h5 class="mb-3">Recent</h5>

                    <div class="table-responsive">
                      <table class="table table-centered table-nowrap mb-0">
                        <thead class="table-light">
                        <tr>
                          <th class="border-0">Name</th>
                          <th class="border-0">Last Modified</th>
                          <th class="border-0">Size</th>
                          <th class="border-0">Owner</th>
                          <th class="border-0">Members</th>
                          <th class="border-0" style="width: 80px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td>
                            <i data-feather="folder" class="icon-dual"></i>
                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">App Design & Development</a></span>
                          </td>
                          <td>
                            <p class="mb-0">Jan 03, 2020</p>
                            <span class="font-12">by Andrew</span>
                          </td>
                          <td>128 MB</td>
                          <td>
                            Danielle Thompson
                          </td>
                          <td id="tooltips-container">
                            <div class="avatar-group">
                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                <img src="../assets/images/users/user-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                <img src="../assets/images/users/user-2.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                <img src="../assets/images/users/user-3.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container" data-bs-toggle="tooltip" data-bs-placement="top" title="Username">
                                <img src="../assets/images/users/user-5.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="btn-group dropdown">
                              <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <i data-feather="file" class="icon-dual"></i>
                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Ubold-sketch-design.zip</a></span>
                          </td>
                          <td>
                            <p class="mb-0">Feb 13, 2020</p>
                            <span class="font-12">by Coderthemes</span>
                          </td>
                          <td>521 MB</td>
                          <td>
                            Coder Themes
                          </td>
                          <td id="tooltips-container1">
                            <div class="avatar-group">
                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                <img src="../assets/images/users/user-4.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                <img src="../assets/images/users/user-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-container="#tooltips-container1" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                <img src="../assets/images/users/user-6.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="btn-group dropdown">
                              <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <i data-feather="file-text" class="icon-dual"></i>
                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Annualreport.pdf</a></span>
                          </td>
                          <td>
                            <p class="mb-0">Dec 18, 2019</p>
                            <span class="font-12">by Alejandro</span>
                          </td>
                          <td>7.2 MB</td>
                          <td>
                            Gary Coley
                          </td>
                          <td>
                            <div class="avatar-group">
                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                <img src="../assets/images/users/user-9.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                <img src="../assets/images/users/user-7.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                <img src="../assets/images/users/user-3.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="btn-group dropdown">
                              <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <i data-feather="folder" class="icon-dual"></i>
                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Wireframes</a></span>
                          </td>
                          <td>
                            <p class="mb-0">Nov 25, 2019</p>
                            <span class="font-12">by Dunkle</span>
                          </td>
                          <td>54.2 MB</td>
                          <td>
                            Jasper Rigg
                          </td>
                          <td>
                            <div class="avatar-group">
                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                <img src="../assets/images/users/user-1.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                <img src="../assets/images/users/user-8.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="James Anderson">
                                <img src="../assets/images/users/user-2.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Username">
                                <img src="../assets/images/users/user-5.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="btn-group dropdown">
                              <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                        <tr>
                          <td>
                            <i data-feather="file-text" class="icon-dual"></i>
                            <span class="ms-2 fw-semibold"><a href="javascript: void(0);" class="text-reset">Documentation.docs</a></span>
                          </td>
                          <td>
                            <p class="mb-0">Feb 9, 2020</p>
                            <span class="font-12">by Justin</span>
                          </td>
                          <td>8.3 MB</td>
                          <td>
                            Cooper Sharwood
                          </td>
                          <td>
                            <div class="avatar-group">
                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Mat Helme">
                                <img src="../assets/images/users/user-3.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>

                              <a href="javascript: void(0);" class="avatar-group-item mb-0" data-bs-toggle="tooltip" data-bs-placement="top" title="Michael Zenaty">
                                <img src="../assets/images/users/user-10.jpg" class="rounded-circle avatar-xs" alt="friend">
                              </a>
                            </div>
                          </td>
                          <td>
                            <div class="btn-group dropdown">
                              <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-xs" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                              <div class="dropdown-menu dropdown-menu-end">
                                <a class="dropdown-item" href="#"><i class="mdi mdi-share-variant me-2 text-muted vertical-middle"></i>Share</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-link me-2 text-muted vertical-middle"></i>Get Sharable Link</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-pencil me-2 text-muted vertical-middle"></i>Rename</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-download me-2 text-muted vertical-middle"></i>Download</a>
                                <a class="dropdown-item" href="#"><i class="mdi mdi-delete me-2 text-muted vertical-middle"></i>Remove</a>
                              </div>
                            </div>
                          </td>
                        </tr>

                        </tbody>
                      </table>
                    </div>

                  </div> <!-- end .mt-3-->

                </div>
                <!-- end inbox-rightbar-->

                <div class="clearfix"></div>
              </div>
            </div> <!-- end card -->
          </div>

        </div><!-- End row -->

      </div> <!-- container -->

    </div> <!-- content -->

    <!-- Footer Start -->
    {{template "drive_footer.html"}}
    <!-- end Footer -->

  </div>

  <!-- ============================================================== -->
  <!-- End Page content -->
  <!-- ============================================================== -->


</div>
<!-- END wrapper -->

<!-- Right Sidebar -->
{{template "drive_setting.html"}}
<!-- /Right-bar -->

<!-- Right bar overlay-->
<div class="rightbar-overlay"></div>

<!-- Vendor js -->
<script src="../assets/js/vendor.min.js"></script>

<!-- App js -->
<script src="../assets/js/app.min.js"></script>

</body>
</html>
